<% if (site.categories.length){ %>
<div class="category-cloud">
  <%- list_categories({
    show_count: false,
    class: 'category-list',
    style: false,
    depth: 1
  }) %>
</div>
<% } else { %>
<p class="category-empty">暂无分类</p>
<% } %>