<% if (site.tags.length){ %>
<div class="tag-cloud">
  <%- tagcloud({
    show_count: false,
    class: 'tag-list',
    color: false
  }) %>
</div>
<% } else { %>
<p class="tag-empty">暂无标签</p>
<% } %>